<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="help.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="views/js/help.js"></script> -->
  <!-- <linl rel="stylesheet" type="text/css" href="views/css/help.css"> -->
</head>
<body>
  <div class="contianer">
    <div class="row">
      <center><div class="col-xs-12 help_heading">
        <h1>Slack Help Page</h1></br>
      </div></center>
    </div>
    <div class="col-xs-12">
      <h2>All you need to know about Slack</h2>
      <p>Slack is a communication platform that allows team members to post messages within a shared workspace and read conversations that are well organized and accessible. Slack offers various features like : persistent chat rooms (channels) organized by topic, as well as private groups and direct messaging.</p></br>
    </div>
    <div class="row col-xs-12 help_links well">
      <div class="col-xs-4">
        <div class="list-group">
          <a href="#help_workspace" class="list-group-item list-group-item-action">Work space</a>
          <a href="#Channels" class="list-group-item list-group-item-action">Channels</a>
          <a href="#messages" class="list-group-item list-group-item-action">Messages</a>
          <a href="#user_search" class="list-group-item list-group-item-action">User search</a>
          <a href="#new_members" class="list-group-item list-group-item-action">Getting started for new members</a>
          <a href="#when_to_use_channels" class="list-group-item list-group-item-action">When to use Channels</a>
		  <a href="#who_can_join_channel" class="list-group-item list-group-item-action">Who can join the channels</a>
		  <a href="#channel_creation_names" class="list-group-item list-group-item-action">Channel creation and channel names</a>
        </div>
      </div>
      <div class="col-xs-6 help_description_col">
        <div class="row help_description" id="help_workspace">
		<h3><strong>Work Space</strong></h3></br>
          <p>Slack workspace is the digital space you and your teammates share to communicate and get work done.If you are part of a small to medium-sized company, you and your fellow co-workers will likely all be members of one Slack workspace.If you are part of a larger organization - possibly comprised of many locations, people, and sub-groups - you may have multiple interconnected Slack workspaces<br>
          In this website you will be a part of MusicChannel workplace.</p>
        </div>
        <div class="row help_description" id="Channels">
		<h3><strong>Channels</strong></h3></br>
          <p>Workplace comprises of channels where the members can chat with their fellow members. The slack members can create any number of channels.</br>
          There are two kinds of channels:</br>
          Public and private.</br>
          <strong>public</strong>These are open channels to all the members in the workplace. You can identify public channels by a # next to its channel name</br>
          <strong>private</strong>These are only for members who are invited to that particular channel.You can identify private channels by a triangle icon next to its channel name</br>
          </p></br>
        </div>
        <div class="row help_description" id="messages">
		<h3><strong>Messages</strong></h3></br>
          <p>Communication happens through messages in slack.Members can insert pretty formatted code or images in the messages.</p></br>
        </div>
        <div class="row help_description" id="user_search">
          <h3><strong>User Search</strong></h3></br>
          <p>Search helps you to find any slack member you want and helps you to view their profile and their reputation matrics.You will notice a search box in the upper-right corner of Slack - it is there any time you to see any other member in slack.Simply type a word in the search box to start looking.</p></br>
        </div>
        <div class="row help_description" id="new_members">
		<h3><strong>Getting started for new members</strong></h3></br>
          <p>Now that you already know what slack is , we will see how to get started with it. </br>
          Sing up to slack through the slack login page. Just enter the basic details and you will be all set to use slack. Set up your profile page by filling out the details. This helps your fellow members to know more about you.</br>
          While you have opened your profile, Click on your name on the top right corner and then select modify button in the action tab. Now upload a photo of yours to your profile.</p></br>
        </div>
        <div class="row help_description" id="when_to_use_channels">
		<h3><strong>When to use channels</strong></h3></br>
          <p>Public channels are for conversations that are open to all members. Messages posted to channels are read by all your teammates.</br>
           Private channels are best used for topics that are sensitive or confidential, or limited to a small group of members. A private channel and its contents are visible only to the channel members.</br></p>
        </div>
		<div class="row help_description" id="who_can_join_channel">
		<h3><strong>Who can join channels</strong></h3></br>
         <p>Private channels can be joined by any member in the slack workspace.Whereas private channels can be joined only upon being invited by other channel members.Any existing channel member can invite other members to the channel just by clicking on the invite symbol below the channel name and by typing the member's user name</p></br>
		 </div>
		<div class="row help_description" id="channel_creation_names">
		<h3><strong>Channel creation and channel name</strong></h3></br>
		<p>Any member can create a new channel by clicking on the create new channel tab. The channel creator can either make it private or public and can invite other members to be a part of that channel.Channel names should be in english and up to 15 characters in length. They may include lowercase letters, uppercase letters, numbers, and hyphens (-).</p></br>
		 </div>

      </div>
    </div>
  </div>


  <!--<h2>Some of the things you can do while you are using slack</h2>
  <h3>People of your slack workspace</h3>
  <p>->Slack admin </br> ->Channel members</p></br>
  <h3>Some of the main components are:</h3>-->
   <!--<h4>Workplace:</h4> -->
  <!-- <p>Slack workspace is the digital space you and your teammates share to communicate and get work done.If you’re part of a small to medium-sized company, you and your fellow co-workers will likely all be members of one Slack workspace.If you’re part of a larger organization — possibly comprised of many locations, people, and sub-groups — you may have multiple interconnected Slack workspaces<br>
  In this website you will be a part of MusicChannel workplace.</p> -->
  <!-- <h4>Channels:</h4>
  <p>Workplace comprises of channels where the members can chat with their fellow members. The slack members can create any number of channels.</br>
  There are two kinds of channels:</br>
  Public and private.</br> -->
  <!-- <strong>public</strong>These are open channels to all the members in the workplace. You can identify public channels by a # next to its channel name</br>
  <strong>private</strong>These are only for members who are invited to that particular channel.You can identify private channels by a triangle icon next to its channel name</br>
  </p></br> -->
  <!-- <h4>Messages:</h4>
  <p>Communication happens through messages in slack.Members can insert pretty formatted code or images in the messages.</p></br> -->
  <!-- <h4>Search:</h4></br>
  <p>Search helps you to find any slack member you want and helps you to view their profile and their reputation matrics.You’ll notice a search box in the upper-right corner of Slack — it’s there any time you to see any other member in slack.Simply type a word in the search box to start looking.</p></br>
  <h2>Getting started for new members</h2></br>
  <p>Now that you already know what slack is , we will see how to get started with it. </br>
  Sing up to slack through the slack login page. Just enter the basic details and you will be all set to use slack. Set up your profile page by filling out the details. This helps your fellow members to know more about you.</br>
  While you have opened your profile, Click on your name on the top right corner and then select modify button in the action tab. Now upload a photo of yours to your profile.</p></br> -->
 <!-- <<h2>When to use Channels</h2></br>
  <p>Public channels are for conversations that are open to all members. Messages posted to channels are read by all your teammates.</br>
   Private channels are best used for topics that are sensitive or confidential, or limited to a small group of members. A private channel and its contents are visible only to the channel members.</br></p>-->
  <!--<h3>Who can join the channel</h3></br>
  <p>Private channels can be joined by any member in the slack workspace.Whereas private channels can be joined only upon being invited by other channel members.Any existing channel member can invite other members to the channel just by clicking on the invite symbol below the channel name and by typing the member's user name</p></br>
  <h3>Channel creation and Channel names</h3></br>
  <p>Any member can create a new channel by clicking on the create new channel tab. The channel creator can either make it private or public and can invite other members to be a part of that channel.Channel names should be in english and up to 15 characters in length. They may include lowercase letters, uppercase letters, numbers, and hyphens (-).</p></hr>-->
 </body>
 </html>
