.MessageHome{
    position: fixed;
    /*bottom: 0;*/
    width: 80%;
    margin-left: 20%;
    height: 100%;
    
    
}
.MessageEntry{
    /*margin-bottom: 1%;*/
    margin-bottom: 0%;
}
#textArea{
    padding-right: 42%;
    padding-left: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 100%;
}
#SubmitButton{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.MessageDisplay{
    /*position: relative;*/
    width: 95%;
    margin-left: 4%;
    margin-bottom: 1%;
    margin-right: 5%;
    height: 89%;
    overflow-y: scroll;
}
.UserName{
    font-size: 120%;

}
.TimeStamp{
    font-style:italic;
    font-size: 80%;

}
.MessageUL{
    list-style: none;

}
.MessageLI{
    
}
.EntireMessage{
    margin-right: 2%;
    /*background-color: #EEEFF5;*/
    box-shadow: 2px 2px 1px #888888;
}
body{
    margin: 0;
    overflow: hidden;
    background-image: url("../images/crushedPaper.jpg");
}
.container{
    /*position: absolute;*/
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px
}
.sideBar{
    background-color: #8B999D;
    padding-bottom: 100%;
    height: 100% ;
    overflow-y: auto;
    /*min-width: 1% ;*/
    max-width: 20%;
}

.SideBarNav{
    background-color: #8B999D;
    height: 100% !important;
    text-align: center;
    border: black;
    overflow-y: auto;
    min-width: auto;
    max-width: auto;
}
/*.SideBarNav:hover {
    background-color: #4C5C61;
}*/
.SideBarButton {
    background-color: #8B999D;
    border: none;
    color: white;
    padding: 4% 36%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

head,body{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}*/